REMOTE_HOST=192.168.1.123
REMOTE_PORT=22
REMOTE_USER=deploy
WEB_REMOTE_PATH=/apps/proxytransfer/web
WEB_REMOTE_RUNTIME_ENV_PATH=/apps/proxytransfer/config/web.runtime.env
TUNNEL_REMOTE_PATH=/apps/proxytransfer/tunnel
TUNNEL_REMOTE_RUNTIME_ENV_PATH=/apps/proxytransfer/config/tunnel.runtime.env

PUBLISH_CONFIGURATION=Release
WEB_REMOTE_IMAGE_NAME=proxytransfer-web:latest
WEB_REMOTE_CONTAINER_NAME=proxytransfer-web
TUNNEL_REMOTE_IMAGE_NAME=proxytransfer-tunnel:latest
TUNNEL_REMOTE_CONTAINER_NAME=proxytransfer-tunnel
CONTAINER_RESTART=unless-stopped