REMOTE_HOST=192.168.1.123
REMOTE_PORT=22
REMOTE_USER=deploy
REMOTE_PATH=/apps/proxytransfer/app
REMOTE_RUNTIME_ENV_PATH=/apps/proxytransfer/config/runtime.env

PUBLISH_CONFIGURATION=Release
REMOTE_IMAGE_NAME=proxytransfer-api:latest
REMOTE_CONTAINER_NAME=proxytransfer-api
CONTAINER_RESTART=unless-stopped